{{#content-article as |article|}}
  {{#article.title}}
    Extending component
  {{/article.title}}

  {{#article.content}}
    <h3>
      Problem
    </h3>
    <p>Component has block with dynamic content</p>
    <p>
      Component:
    </p>
    <p>
      {{higlight-code
        name='blog-post.hbs'
        code=model.blog-post}}
    </p>
    <p>
        Component using:
    </p>
    <p>
      {{higlight-code
        name='blog-posts-list.hbs'
        code=model.blog-posts-list}}
    </p>

    <h3>Solution</h3>
    <p>Add <code>yield</code> for dynamic content</p>

    <p>
      Component:
    </p>
    <p>
      {{higlight-code
        name='blog-post.hbs'
        code=model.blog-post-solution}}
    </p>
    <p>
      Component using:
    </p>
    <p>
      {{higlight-code
        name='blog-posts-list.hbs'
        code=model.blog-posts-list-solution}}
    </p>

    <h3>Graphic schema</h3>
    <p>
      <img src="/assets/images/extending-component.png">
    </p>

    <h3>OOP analog</h3>
    <p>
      Problem:
    </p>
    <p>
      {{higlight-code
        name='blog-post.js'
        code=model.oop-problem}}
    </p>

    <p>
      Solution (move code to another method):
    </p>
    <p>
      {{higlight-code
        name='blog-post.js'
        code=model.oop-solution}}
    </p>
    <p></p>
  {{/article.content}}
{{/content-article}}

{{outlet}}
